@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

*{
    background: #C37E7E;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 570px;
  height: 290px;
  background-color: #A46A6A;
  border-radius: 3px;
}

.Titulo{
    color: white;
    padding-top: 0px;
    text-align: center;
    background: #A46A6A;
    font-family: 'Poppins', sans-serif;
}
.subtitulo{
    color: white;
    text-align: center;
    background: #A46A6A;
    margin-top: -17px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 500;
}

.linkvertise{
    color: white;
    text-align: center;
    background: #A46A6A;
    font-family: 'Open Sans';
    font-weight: 500;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A46A6A;
    font-weight: 500;
}

.btn{
    color: #838383;
    background-color: #D4D4D4;
    border: 0px solid;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    margin-top: 5px;
}

.discord{
    color: white;
    text-align: center;
    background: #A46A6A;
    font-family: 'Open Sans';
    font-size: 13.5px;
    font-weight: 500;
}

.welcome{
    margin-top: -17px;
    color: white;
    text-align: center;
    background: #A46A6A;
    font-family: 'Open Sans';
    font-size: 13.5px;
    font-weight: 500;
}
